.DS_Store
/.idea
/.vscode/**
!/.vscode/settings.json
/examples/**
!/examples/**/
!/examples/**/*.nim
!/examples/README.md
!/examples/config.nims
!/examples/data/**
/extras/lsp
/nimcache
/notcurses.nims
/tests/**
!/tests/**/
!/tests/**/*.nim
!/tests/config.nims
