.DS_Store
.idea
.vscode
/examples/**
!/examples/**/
!/examples/**/*.nim
!/examples/README.md
!/examples/config.nims
!/examples/data/**
/nimcache/
/notcurses.nims
/tests/**
!/tests/**/
!/tests/**/*.nim
!/tests/config.nims
